<div class="clearfix mt-5">
	<h2 class="float-left">Class: <%= @class %></h2>
	<button type="button" class="btn btn-primary float-right">Add New Assignment</button>
</div>

<div class="table-responsive-xl">
<table class="table table-hover text-center mt-3">
	<caption class="text-right">All homework assignments for <%= @class %></caption>
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Assignment Name</th>
		<th scope="col"># of Submissions</th>
		<th scope="col">Date Created</th>
		<th scope="col">Date Due</th>
	</thead></tr>
	<tbody>
	<% 5.times do %>
	<tr>
		<th scope="row" class="text-left"><a href="<%= url("/PZS0530/mzhan") %>">Long name example really long name</a></th>
		<td>3</td>
		<td>2018-09-01</td>
		<td>2018-09-08</td>
	</tr>
	<% end %>
	</tbody>
</table>
</div>
